data/
VanillaVAE/version_0/
logs/chest_xray/sep_train_test/VanillaVAE/version_*/checkpoints/*
logs/
__pycache__/
.ipynb_checkpoints/
.DS_Store
.bash_history
.bash_logout
.bash_profile
.bashrc
.cache/
.emacs
.gitconfig
.ipython/
.jupyter/
.keras/
.kshrc
.local/
.modulesbegenv
.motd
.python_history
.viminfo
